<%- include("../Header"); -%>
<html lang="en">
<head>
<title>Page Cate</title>
</head>
<body>
    <h1>Category</h1>
    <form action="" method="POST">
        <input type="text" name="txtCate"/>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>