<%- include("../Header"); -%>
<html lang="en">'
<head>
<title>Page User</title>
</head>
<body>
    <h1>User</h1>
    <form action="" method="POST">
        <input type="text" name="txtFirstName" placeholder="First Name "/><br>
        <input type="text" name="txtLastName" placeholder="Last Name "/> <br>
        <input type="date" name="dob" placeholder="Date of Birth "/> <br>
        <input type="text" name="txtAge" placeholder="Age "/> <br>
        <input type="text" name="txtAddress" placeholder="Address "/> <br>
        <input type="text" name="txtPhoneNumber" placeholder="Phone Number "/> <br>
        <input type="email" name="txtEmail" placeholder="Email "/> <br>
        <input type="text" name="txtUserName" placeholder="User Name "/> <br>
        <input type="password" name="txtPass" placeholder="PassWord "/> <br>
        <input type="password" name="txtComfirmPass" placeholder="Comfirm PassWord "/> <br>
        <input type="submit" value="Add"/>
    </form>
</body>
</html>